html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr/NotoSansKR-Regular.ttf");
}

@font-face {
  font-family: 'Play-regular';
  src: url("../font/play/Play-Regular.ttf");
}

@font-face {
  font-family: 'Play-bold';
  src: url("../font/play/Play-Bold.ttf");
}

@font-face {
  font-family: 'Roboto-bold';
  src: url("../font/roboto/Roboto-Bold.ttf");
}

body {
  font-family: 'Noto Sans KR';
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

.play_regular {
  font-family: 'Play-regular';
}

.play_bold {
  font-family: 'Play-bold';
}

.roboto_bold {
  font-family: 'Roboto-bold';
  font-weight: 600;
}

#header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 86px;
  z-index: 99;
}

#header .header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 0px 162px;
}

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 932px;
  width: 100%;
}

#header #logo a img {
  width: 123px;
  height: 51px;
}

.navbar {
  height: 100%;
}

.ham_menu {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: auto;
  cursor: pointer;
}

.nav_list {
  height: 100%;
  box-sizing: border-box;
}

.nav_list.active {
  border-bottom: 3px solid #fff;
  transition: 0.3s all;
}

.nav_list>a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 0px 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.side_dim {
  display: none;
}

.dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 10px;
  padding: 26px 16px;
  top: 6px;
  right: 165px;
}

.dropdown .active {
  display: block;
}

.lang_btn img {
  margin-left: 4px;
}

.language {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 10px;
  display: flex;
  align-items: center;
}

.language.active {
  color: #3EA053;
}

.language img {
  margin-left: 8px;
}

/* main 시작 */

.section.main {
  background: url("../img/01_background.png");
  background-size: 100% 100%;
}

.main.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}

.main.bottom_wrap {
  position: absolute;
  top: calc(100% - 120px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.main.bottom_wrap img {
  cursor: pointer;
}

.main.top_title {
  font-size: 40px;
  line-height: 54px;
  text-align: center;
}

.main.middle_title {
  font-size: 40px;
  font-weight: 400;
  line-height: 54px;
}

.main.bottom_title {
  font-size: 66px;
  font-weight: 700;
  line-height: 69.42px;
}

/* main 끝 */

/* company 시작 */

.section.company {
  background: url("../img/company_background.png");
  background-size: 100% 100%;
}

.company.wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1520px;
  align-items: center;
  margin: 0 auto;
}

.company.image {
  background: url("../img/02_1img.png");
  width: 512px;
  height: 512px;
}

.company.top_title {
  font-size: 26px;
  color: #fff;
  line-height: 30px;
  margin-bottom: 14px;
}

.company.middle_title {
  font-size: 60px;
  color: #fff;
  line-height: 50px;
  margin-bottom: 40px;
}

.company.bottom_title {
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  margin-bottom: 20px;
  letter-spacing: -0.02em;
}

/* company 끝 */

/* business 시작 */

.section.business.mobile {
  display: none;
}

.business.wrap {
  display: flex;
  height: 100%;
}

.business.image {
  flex: 1;
  background-size: 100% 100%;
}

.business.content {
  flex: 1;
}

.business.inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  max-width: 630px;
}

.business.top_title {
  font-size: 26px;
  color: #359750;
  margin-bottom: 14px;
  line-height: 30px;
}

.business.middle_title {
  font-size: 34px;
  color: #000;
  margin-bottom: 40px;
  line-height: 30px;
}

.business.bottom_title {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.business_swiper {
  display: flex;
}

.business_swiper .swiper_items {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 24px;
  cursor: pointer;
  width: 164px;
  height: 110px;
}

.business_swiper .swiper_items span {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  padding: 14px;
}

.business_swiper .swiper_items.active {
  border: 2px solid #FFD439;
  border-radius: 5px;
}

#fp-nav {
  display: none;
  background-color: #F5F5F5;
  height: 100%;
  right: 0 !important;
  top: 0 !important;
  margin-top: 0px !important;
  width: 6px;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  width: 0px;
  height: 0px;
  margin: 0;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  /* height: 14px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; */
  height: 0;
  width: 0;
  margin: 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  display: none;
}

#fp-nav ul li:nth-child(3):has(a.active) {
  width: 6px;
  height: 300px;
  background-color: #BDBDBD;
  transition: 0.5s ease;
}

#fp-nav ul li:nth-child(4):has(a.active) {
  position: absolute;
  top: 33%;
  width: 6px;
  height: 300px;
  background-color: #BDBDBD;
  transition: 0.5s ease;
}

#fp-nav ul li:nth-child(5):has(a.active) {
  position: absolute;
  top: 66%;
  width: 6px;
  height: 300px;
  background-color: #BDBDBD;
  transition: 0.5s ease;
}

/* business 끝 */

/* Place 시작 */

.section.place {
  background: url("../img/place_background.png");
  background-size: 100% 100%;
}

.place.wrap {
  display: flex;
  align-items: center;
  margin-left: 162px;
}

.place.wrap .place_title {
  display: flex;
  flex-direction: column;
  color: #fff;
  flex: 0.8 1;

}

.place.wrap .main {
  font-size: 60px;
  line-height: 69.42px;
}

.place.wrap .main:last-of-type {
  margin-bottom: 24px
}

.place.wrap .sub {
  font-size: 26px;
  line-height: 30px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  flex: 3 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.swiper-slide .place_name {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 18px 2px;
}

.swiper-slide .place_name p {
  font-size: 18px;
  line-height: 30px;
}

.swiper-slide img {
  display: block;
  width: 600px;
  height: 454px;
  object-fit: cover;
}

.scrollbar {
  margin-top: 20px;
  position: relative;
  height: 10px;
  width: 90%;
}

.scrollbar ul {
  display: flex;
  height: 1px;
  background: #CECECE;
}

.scrollbar ul .scroll {
  position: absolute;
  top: -4px;
  background: #3EA053;
  border-radius: 5px;
  height: 10px;
  width: 33.333%;
  transition: 0.1s ease;
}

/* KENAF 시작 */
.kenaf.wrap {
  display: flex;
  height: 100%;
}

.kenaf.col-4 {
  flex: 33.333%;
}

.kenaf.boxs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px 60px;
}

.kenaf.boxs .logo {
  width: 80px;
  height: 80px;
  margin-bottom: 34px;
}

.kenaf.boxs .title {
  font-size: 34px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}

.kenaf.boxs .contents {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 34px 0px;
}

.kenaf.wrap.pc {
  display: flex;
}

.kenaf.wrap.mobile {
  display: none;
}

.footer_wrap.pc {
  display: flex;
}

.footer_wrap.mobile {
  display: none;
}

/* KENAF 끝 */

/* contact 시작 */

.contact.wrap {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.contact_us {
  display: flex;
  flex: 1;
  background: url("../img/6_background.png");
  background-size: 100% 100%;
  align-items: center;
}

.contact_us .wrap {
  margin: 0px 162px;
  width: 100%;
}

.contact_us .main_title {
  font-size: 34px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 12px;
}

.contact_us .sub_title {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 40px;
}

.contact_us input[type=text] {
  display: block;
  background: inherit;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px 14px;
  outline: none;
  color: #fff;
  font-size: 16px;
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
}

.contact_us .contents {
  height: 138px;
  background: inherit;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
  padding: 14px;
  outline: none;
  color: #fff;
  font-size: 16px;
  margin-bottom: 12px;
  font-family: 'Noto Sans KR';
  resize: none;
  box-sizing: border-box;
}

.contact_us .wrap input::placeholder {
  font-size: 16px;
  color: #fff;
}

.contact_us .contents::placeholder {
  font-family: 'Noto Sans KR';
  color: #fff;
  font-size: 16px;
}

.contact_us .agree_zone {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact_us .agree_zone input[type=checkbox] {
  width: 22px;
  height: 22px;
  margin: 0;
  background: #359750;
  border: 1px solid #fff;
  margin-right: 6px;
}

.contact_us .agree_zone .agree_text {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.contact_us .agree_zone .agree_bar {
  color: #fff;
  margin: 0px 8px;
}

.contact_us .contact_submit {
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  color: #39AF65;
  cursor: pointer;
  background: #fff;
  border: none;
  font-family: 'Noto Sans KR';
}

.contact_map {
  flex: 1;
}

.up_button {
  position: absolute;
  bottom: 80px;
  right: 80px;
  background-image: url('../img/up_button.png');
  width: 60px;
  height: 60px;
  z-index: 99999;
}


/* contact 끝 */

/* footer */

.footer {
  height: 230px;
  background-color: #000;
  box-sizing: border-box;
}

.footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 78px 162px;
}

.footer_title {
  color: #fff;
  font-size: 14px;
  margin-bottom: 16px;
}

.footer_bar {
  color: #787878;
  margin: 0px 14px;
}

.footer_info {
  font-size: 14px;
  color: #787878;
  margin-bottom: 10px;
}

/* modal */
button.btn_close {
  background: #000;
  width: 100%;
  height: 40px;
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  font-family: 'Noto Sans KR';
  cursor: pointer;
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
}

#modal .dim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal_info h5 {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 700;
}

.modal_wrap {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: calc(100% - 40px);
  max-height: 678px;
  height: 37%;
  border-radius: 8px;
  background: #fff;
  padding: 30px 20px;
  text-align: center;
  z-index: 100;
  color: #333;
  margin: 0 auto;
  overflow-y: auto;
}

.modal_head {
  font-size: 28px;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
}

.modal_head h4 {
  text-align: left;
  letter-spacing: -1.8px;
  font-size: 20px;
}

.modal_head .btn_close {
  position: absolute;
  right: 18px;
  top: 18px;
  font-size: 12px;
  width: 23px;
  height: 23px;
  line-height: 21px;
  border-radius: 50%;
  color: #fff;
  background: #333;
  margin: 0;
  font-family: 'Noto Sans KR';
  border: none;
  cursor: pointer;
}

.modal_head .btn_close:hover {
  background: #555;
}

.modal_body {
  text-align: left;
  margin: 20px 0 20px;
  padding: 0 10px;
  overflow-y: auto;
  max-height: 172px;
  font-size: 14px;
}

.modal_body .input_wrap {
  margin-bottom: 15px;
}

.modal_body .input_wrap label {
  font-size: 13px;
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-family: "Inter", sans-serif;
}

.modal_body .input_wrap textarea {
  resize: none;
  min-height: 200px;
  max-height: 200px;
}

.modal_wrap::-webkit-scrollbar,
.modal_body::-webkit-scrollbar,
.modal_body .input_wrap textarea::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.modal_wrap::-webkit-scrollbar-thumb,
.modal_body::-webkit-scrollbar-thumb,
.modal_body .input_wrap textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.modal_wrap::-webkit-scrollbar-track,
.modal_body::-webkit-scrollbar-track,
.modal_body .input_wrap textarea::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

.modal_foot .btn_ty01.dark {
  padding: 0 50px;
  line-height: 1.5;
}

#modal .check_wrap {
  text-align: left;
}

#modal label {
  color: #222;
}

#modal .check_ty01+label::before {
  border: solid 1px #222;
  color: #fff;
  background-color: #fff;
}

#modal .check_ty01:checked+label::before {
  content: "✔";
  background-color: #222;
}

/* mini-modal */
#dim {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

#mini-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  width: 100%;
  height: 160px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  display: none;
  z-index: 100;
}

#mini-modal .modal_text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 20px;
}

#mini-modal .btn {
  width: calc(100% - 30px);
  height: 40px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 16px;
  font-family: "NotoSansKR";
}

.check_ty01 {
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
  text-indent: -99999999px;
  visibility: hidden;
  opacity: 0;
  font-size: 0;
}

.check_ty01+label {
  position: relative;
  left: 0;
  font-size: 14px;
  cursor: pointer;
  padding: 0 0 0 25px;
  pointer-events: all;
}

.check_ty01+label::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 1px;
  width: 16px;
  height: 16px;
  line-height: 15px;
  font-size: 12px;
  border-radius: 3px;
  background-color: rgba(81, 82, 84, 0.8);
  text-align: center;
}

.check_ty01.circle+label::before {
  border-radius: 50%;
}

.check_ty01:checked+label::before {
  content: "✔";
  color: #fff;
  background-color: #000;
}

@media all and (max-width: 1280px) {
  .business.inner {
    max-width: 450px;
  }
}

@media all and (max-width: 991px) {

  .ham_menu {
    display: block;
    z-index: 10;
  }

  .ham_menu span {
    display: inline-block;
    width: 25px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 13px;
    transform: translateX(-50%);
    transition: all 0.4s;
  }

  .ham_menu span:nth-child(2) {
    top: 20px;
  }

  .ham_menu span:last-child {
    top: 27px;
  }

  .ham_menu.close span {
    top: 18px;
    left: 20%;
  }

  .ham_menu.close span:first-child {
    transform: rotate(45deg);
    transition: all 0.4s 0.1s;
  }

  .ham_menu.close span:nth-child(2) {
    opacity: 0;
    transition: all 0.4s;
  }

  .ham_menu.close span:last-child {
    transform: rotate(-45deg);
    transition: all 0.4s 0.1s;
  }

  #header .navbar {
    position: fixed;
    right: -100%;
    top: 0;
    background: #000;
    width: 60%;
    height: 100vh;
    flex-direction: column;
    padding: 80px 20px 30px;
    transition: all 0.5s;
    justify-content: flex-start;
    align-items: baseline;
  }

  #header .navbar.open {
    right: 0;
    z-index: 5;
  }

  #header .navbar.open+.side_dim {
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }

  .nav_list {
    height: 8%;
  }

  .dropdown {
    position: inherit;
    padding: 0;
  }
}

@media all and (max-width: 720px) {

  #header {
    height: 52px;
  }

  #header .header_wrap {
    padding: 0px 16px;
  }

  #header nav {
    justify-content: unset;
  }

  #header .header_wrap #logo a img {
    width: 80px;
    height: 34px;
  }

  #fullpage .section.main,
  #fullpage .section.company {
    padding: 0px 20px;
  }

  /* main 및 header */

  .section.main {
    background: url('../img/m_01_background.png');
    background-size: cover
  }

  .main.top_title {
    font-size: 22px;
    line-height: 30px;
  }

  .main.bottom_title {
    font-size: 28px;
  }

  .main.bottom_wrap a img {
    width: 50px;
    height: 50px;
  }

  /* company */

  .section.company {
    background: url("../img/m_02_background.png");
    background-size: cover;
  }

  .company.wrap {
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .company.content {
    padding: 30px 0px;
  }

  .company.image {
    width: 200px;
    height: 200px;
    background-size: cover
  }

  .company.top_title {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 18.5px;
  }

  .company.middle_title {
    font-size: 24px;
    line-height: 27.7px;
    margin-bottom: 14px;
  }

  .company.bottom_title {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 14px;
  }

  /* business */

  #fp-nav {
    display: none !important;
  }

  .section.business.pc {
    display: none;
  }

  .section.business.mobile {
    display: initial;
  }

  .business.wrap {
    flex-direction: column-reverse;
  }

  .business.image {
    min-height: 200px;
  }

  .business.inner {
    padding: 52px 24px;
    height: auto;
  }

  .business.top_title {
    font-size: 16px;
    margin-bottom: 0;
  }

  .business.middle_title {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .business.middle_title .arrow_right {
    display: block !important;
  }

  .business.middle_title .arrow_right img {
    width: 30px;
    height: 30px;
  }

  .business.bottom_title {
    font-size: 14px;
    margin-bottom: 41px;
  }

  .business_swiper {
    justify-content: space-around;
  }

  .business_swiper .swiper_items {
    max-height: 110px;
  }

  .business_swiper .swiper_items span {
    font-size: 12px;
    padding: 10px;
  }

  /* place */

  .place.wrap {
    flex-direction: column;
    margin: 0;
    padding-left: 20px;
  }

  .place.wrap .place_title {
    align-items: center;
  }

  .place.wrap .main {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 0;
  }

  .place.wrap .main:last-of-type {
    margin-bottom: 0px;
  }

  .place.wrap .sub {
    font-size: 16px;
  }

  .place_title {
    padding: 20px 20px 20px 0px;
  }

  .place_title h1 br {
    display: none !important;
  }

  .swiper-slide .place_name p {
    font-size: 14px;
    line-height: 30px;
  }

  .scrollbar {
    width: 95%;
    margin-top: 60px;
  }

  .swiper-slide img {
    width: 100%;
    height: 227px;
  }

  /* kenaf */

  .kenaf {
    height: 100%;
  }

  .kenaf.wrap.pc {
    display: none;
  }

  .kenaf.wrap.mobile {
    display: flex;
  }

  .kenaf.wrap {
    flex-wrap: nowrap;
  }

  .kenaf.boxs {
    padding: 0px 10px;
  }

  .kenaf.boxs .logo {
    width: 60px;
    height: 60px;
    margin-bottom: 24px;
  }

  .kenaf.boxs .title {
    font-size: 24px;
  }

  .kenaf.boxs .contents {
    font-size: 13px;
  }

  .kenaf.boxs .navs {
    position: absolute;
    bottom: 10%;
  }

  .kenaf.boxs .navs a {
    padding: 0px 10px;
  }

  /* contact */

  .contact.wrap {
    flex-direction: column;
  }

  .contact_us {
    background: #359750;
  }

  .contact_us .wrap {
    margin: 0;
    padding: 60px 14px;
  }

  .contact_us .main_title {
    font-size: 24px;
  }

  .contact_us .sub_title {
    font-size: 14px;
  }

  .contact_us input[type=text] {
    padding: 14px;
  }

  .contact_us .wrap input::placeholder {
    font-size: 14px;
  }

  .contact_us .contents::placeholder {
    font-size: 14px;
  }

  .contact_us .agree_zone .agree_text {
    font-size: 12px;
    letter-spacing: -0.04em;
  }

  .contact_us .agree_zone .agree_bar {
    margin: 0px 2px;
    letter-spacing: -0.04em;
  }

  .contact_us .agree_zone input[type=checkbox] {
    width: 18px;
    height: 18px;
  }

  .contact_us .contact_submit {
    padding: 12px 20px;
  }

  .contact_map iframe {
    height: 340px;
  }

  .up_button {
    display: none;
  }

  /* footer */

  .footer_wrap.pc {
    display: none;
  }

  .footer_wrap.mobile {
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
  }

  .footer_wrap .footer_mobile_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .footer_wrap .footer_mobile_bottom {
    width: 100%;
  }

  .footer_title {
    margin-bottom: 0;
  }

  .footer_info {
    font-size: 11px;
  }

  .footer_logo img {
    width: 118px;
    height: 48px;
  }
}

@media all and (max-width: 420px) {
  .business_swiper .swiper_items {
    margin: 0px 4px;
    max-height: 68px;
  }
}